@media (max-width: 576px)
    .container
        width: 280px
        min-width: 87.5%
    .navbar
        &__logo
            width: 91px
        &__text
            display: none
        &__button
            padding: 15px 26px
            font-size: 10px      