*
    box-sizing: border-box
    font-family: "Museo Sans Cyrl -300", sans-serif
    color: $text-color
.container
    width: 1170px
    margin: auto
    display: flex
    justify-content: space-between
.button
    border-radius: 10px
.navbar
    padding: 8px 0px
    &__logo
        width: 155px
        &-img
            width: 100%
    &__info
        display: flex
        align-items: center
    &__text
        display: flex
        flex-direction: column
    &__address
        margin-bottom: 9px
        font-size: 13px
        font-weight: 400
    &__tel    
        text-decoration: none
        font-size: 20px
        font-weight: 400
        font-family: "Museo Sans Cyrl -700", sans-serif
    &__button
        margin-left: 30px
        padding: 18px 30px
        background-color: $main-color
        font-size: 13px
        font-weight: 400
        font-family: "Museo Sans Cyrl -700", sans-serif