* { -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration: none; }

@font-face { font-family: 'Museo Sans Cyrl 300'; src: url("../fonts/MuseoSansCyrl-300.eot"); src: local("MuseoSansCyrl-300"), url("../fonts/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff") format("ttf"), url("../fonts/MuseoSansCyrl-300.svg#MuseoSansCyrl-300") format("svg"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Museo Sans Cyrl 700'; src: url("../fonts/MuseoSansCyrl-700.eot"); src: local("MuseoSansCyrl-700"), url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff") format("ttf"), url("../fonts/MuseoSansCyrl-700.svg#MuseoSansCyrl-700") format("svg"); font-weight: normal; font-style: normal; }

.modal { position: fixed; top: 0; left: 0; display: none; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: rgba(65, 65, 65, 0.65); height: 100%; width: 100%; }

.modal_active { display: -webkit-box; display: -ms-flexbox; display: flex; }

.modal-block { max-width: 450px; min-width: 250px; width: 90%; background-color: #fff; border-radius: 5px; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: relative; }

.modal-close { position: absolute; top: 0; right: 1%; }

.modal-close:hover { cursor: pointer; }

.modal-text { margin-bottom: 10px; }

#btnUp { padding: 15px; position: fixed; bottom: 1%; right: 1%; color: #ffd200; background-color: #333333; z-index: 5; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

* { color: #333333; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.container { width: 1170px; margin: auto; }

.button { border-radius: 10px; background-color: #ffd200; border: none; font-size: 13px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; -webkit-transition: 0.4s all; transition: 0.4s all; outline: none; }

.button:hover { background-color: #ffe466; cursor: pointer; }

.navbar { padding: 10px 0px; }

.navbar-box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.navbar__logo { width: 155px; }

.navbar__logo-img { width: 100%; }

.navbar__info { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.navbar__text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; text-align: right; }

.navbar__address { margin-bottom: 9px; font-size: 13px; }

.navbar__tel { text-decoration: none; font-size: 20px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.navbar__button { margin-left: 30px; padding: 18px 30px; }

@media (max-width: 1200px) { .container { max-width: 90%; } }

@media (max-width: 576px) { .button { border-radius: 5px; }
  .container { width: 277px; min-width: 85%; }
  .navbar { padding: 17px 0; }
  .navbar__logo { width: 91px; -ms-flex-item-align: end; align-self: flex-end; }
  .navbar__text { display: none; }
  .navbar__button { padding: 15px 26px; font-size: 10px; } }

.hero { background-color: #f5f5f5; padding: 47px 0px; }

.hero-block { display: -webkit-box; display: -ms-flexbox; display: flex; }

.hero-img { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-left: 15px; -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.hero-img img { width: 100%; }

.hero-text { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; color: #333333; padding-right: 95px; -ms-flex-preferred-size: 50%; flex-basis: 50%; }

.hero-text__title { margin-top: 30px; margin-bottom: 35px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; font-size: 41px; line-height: 55px; }

.hero-text__subtitle { margin-bottom: 73px; display: inline-block; font-size: 20px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.hero-list { list-style: none; }

.hero-list__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 25px; }

.hero-list__item:last-child { margin-bottom: 0; }

.hero-list__img { padding: 10px; margin-right: 30px; width: 40px; height: 40px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; border: 2px solid #ffd200; border-radius: 50%; }

.hero-list__text { max-width: 250px; font-size: 14px; line-height: 24px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

@media (max-width: 768px) { .hero { padding: 40px 0; }
  .hero-block { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .hero-text { padding: 0; }
  .hero-text__title { margin-top: 0; line-height: normal; margin-bottom: 11px; font-size: 24px; }
  .hero-text__subtitle { margin-bottom: 30px; font-size: 16px; }
  .hero-list__item { margin-bottom: 20px; }
  .hero-list__text { line-height: normal; font-size: 12px; }
  .hero-list__img { margin-right: 15px; }
  .hero-img { margin-top: 15px; padding-left: 0; } }

.section-offer { padding: 80px 0; position: relative; }

.section-offer::before { content: ''; height: 100%; width: 50%; background: url(../img/offer-img.jpg) no-repeat; background-size: cover; position: absolute; top: 0; right: 0; }

.offer-text { width: 50%; padding-right: 90px; }

.offer-text__title { margin-bottom: 20px; width: 350px; color: #333333; font-size: 24px; line-height: 35px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.offer-text__subtitle { margin-bottom: 31px; display: inline-block; width: 250px; color: #333333; font-size: 16px; line-height: 18px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.form-offer { position: relative; }

.form-offer__input { margin-bottom: 25px; padding: 22px 24px; display: inline-block; width: 240px; border-radius: 10px; border: 1px solid #dddddd; font-size: 15px; color: #999999; outline: none; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.form-offer__input:focus { border: 1px solid #ffd200; }

.form-offer__input:first-child { margin-right: 10px; }

.form-offer__button { margin-bottom: 24px; width: 100%; padding: 27px; font-size: 16px; }

.offer-subtext { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.offer-subtext__support { width: 47%; color: #333333; font-size: 15px; line-height: 24px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.offer-subtext__second-column { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-pack: distribute; justify-content: space-around; width: 40%; }

.offer-subtext__recall { color: #333333; font-size: 15px; line-height: 24px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.offer-subtext__number { color: #333333; font-size: 15px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

@media (max-width: 1200px) { .offer-text { padding-right: 20px; }
  .form-offer__input { width: 100%; }
  .form-offer__button { line-height: 18px; font-size: 14px; }
  .offer-subtext { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .offer-subtext__support { width: 100%; margin-bottom: 10px; }
  .offer-subtext__second-column { width: 100%; }
  .offer-subtext__recall { margin-bottom: 8px; } }

@media (max-width: 768px) { .section-offer::before { background: none; }
  .offer-text { padding-right: 0; width: 100%; } }

@media (max-width: 576px) { .section-offer { padding: 54px 0; }
  .offer-text__title { font-size: 18px; line-height: 1.2; width: 260px; margin-bottom: 18px; }
  .offer-text__subtitle { margin-bottom: 25px; font-size: 14px; }
  .form-offer__input { margin-bottom: 8px; }
  .form-offer__button { margin-bottom: 20px; padding: 19px 61px; font-size: 14px; line-height: 18px; }
  .offer-subtext__support { margin-bottom: 5px; width: 225px; } }

.examples { padding: 100px 0px; background: #f5f5f5 url("../img/examples-back.png") repeat-y left; background-size: 50%; }

.examples__title { margin-bottom: 99px; display: inline-block; max-width: 630px; text-align: center; line-height: 45px; font-size: 30px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.container-examples { text-align: center; }

.arrows { margin: auto; margin-top: 70px; width: 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.arrows__left:hover, .arrows__right:hover { cursor: pointer; }

.slider__image { margin: auto; }

.owl-arrows { margin: auto; margin-top: 70px; width: 120px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.prev:hover, .next:hover { cursor: pointer; }

.section-price { padding: 85px 0px 80px 0px; text-align: center; }

.section-price__title { margin-bottom: 40px; font-size: 30px; line-height: 45px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; display: inline-block; width: 515px; }

.section-price__subtitle { margin-bottom: 45px; font-size: 20px; line-height: 45px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.card { width: 370px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 40px; margin-bottom: 30px; border: 1px solid #e8e8e8; -webkit-transition: 0.3s; transition: 0.3s; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: space-between; -ms-flex-align: space-between; align-items: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.card:hover { cursor: pointer; -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); }

.card:hover .card__wrap-img::before { opacity: 1; }

.card:hover .card__follow::after { height: 8px; }

.card__wrap-img { width: 100%; position: relative; margin-bottom: 39px; }

.card__wrap-img::before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0))); background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%); opacity: 0; -webkit-transition: 0.3s; transition: 0.3s; }

.card__img { display: block; width: 100%; }

.card__title { font-size: 18px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; margin-bottom: 35px; }

.card__follow { font-size: 16px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; position: relative; }

.card__follow::after { position: absolute; bottom: -2px; left: 0; content: ''; height: 3px; width: 100%; z-index: -1; background-color: #ffd200; -webkit-transition: 0.3s; transition: 0.3s; }

@media (max-width: 1200px) { .cards { -ms-flex-pack: distribute; justify-content: space-around; } }

@media (max-width: 768px) { .section-price { padding-top: 62px 0px 25px 0px; }
  .section-price__title { font-size: 18px; width: 242px; line-height: normal; margin-bottom: 10px; }
  .section-price__subtitle { font-size: 14px; margin-bottom: 48px; }
  .card { width: 271px; padding-bottom: 35px; }
  .card__wrap-img { margin-bottom: 30px; }
  .card__title { margin-bottom: 15px; font-size: 14px; }
  .card__follow { font-size: 16px; } }

.animate { -webkit-animation: rot 1s linear; animation: rot 1s linear; }

@-webkit-keyframes rot { 0% { border-radius: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  75% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

@keyframes rot { 0% { border-radius: 100%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
  50% { -webkit-transform: rotate(180deg); transform: rotate(180deg); }
  75% { -webkit-transform: rotate(270deg); transform: rotate(270deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }

.section-advantages { padding-bottom: 100px; }

.section-advantages__wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.section-advantages__title { width: 660px; text-align: center; margin-bottom: 59px; font-size: 30px; line-height: 45px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.section-advantages__subtitle { margin-bottom: 58px; line-height: 45px; font-size: 20px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

.section-advantages__wrap-image { margin-bottom: 30px; padding: 32px; border: 3px solid #ffd200; border-radius: 50%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section-advantages__image { width: 35px; height: 35px; }

.section-advantages-block { margin-bottom: 30px; padding-top: 11px; max-width: 175px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section-advantages-block-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.section-advantages__description { text-align: center; }

@media (max-width: 1200px) { .section-advantages-block { max-width: 200px; }
  .section-advantages-block-wrap { -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: space-around; -ms-flex-align: space-around; align-items: space-around; }
  .section-advantages__next { display: none; } }

@media (max-width: 768px) { .section-advantages__title { margin-bottom: 27px; font-size: 18px; width: 240px; line-height: normal; }
  .section-advantages__subtitle { margin-bottom: 34px; font-size: 14px; }
  .section-advantages__wrap-image { margin-bottom: 22px; } }

.interview { background-image: url("../img/interview-color.png"), url("../img/interview-img.jpg"); background-position: left center, right center; background-size: 50%, contain; background-repeat: repeat-y, no-repeat; }

.interview-wrap { padding-top: 95px; padding-bottom: 100px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-preferred-size: 50%; flex-basis: 50%; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.interview-text__title { width: 520px; font-size: 22px; line-height: 33px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; margin-bottom: 30px; }

.interview-text__subtitle { display: block; font-size: 16px; line-height: 45px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; margin-bottom: 80px; }

.interview-text__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

.interview-text__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 26px; }

.interview-text__counter { margin-right: 32px; border: 2px solid #000000; border-radius: 50%; padding: 8px 10px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.interview-text__descr { max-width: 380px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

.interview-form { max-width: 380px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.interview-form__title { max-width: 340px; font-size: 22px; line-height: 33px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; text-align: center; margin-bottom: 38px; }

.interview-form__subtitle { font-size: 16px; line-height: 35px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; margin-bottom: 35px; }

.interview-form__input { margin-bottom: 15px; border-radius: 10px; border: 1px solid #dddddd; background-color: #ffffff; padding: 20px; width: 370px; font-size: 15px; line-height: 24px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; outline: none; }

.interview-form__input:focus { border: 1px solid #ffd200; border-radius: 10px; }

.interview-form__input:last-of-type { margin-bottom: 30px; }

.interview-form__button { padding: 28px 98px; font-size: 16px; line-height: 18px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; margin-bottom: 25px; }

.interview-form__subtext { font-size: 15px; line-height: 24px; font-family: 'Museo Sans Cyrl 300', sans-serif; font-weight: 300; }

@media (max-width: 1200px) { .interview { background-position: top center, bottom center; background-size: 100% 50%, cover; background-repeat: no-repeat, no-repeat; }
  .interview-wrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-top: 46px; padding-bottom: 34px; }
  .interview-text { margin-bottom: 128px; }
  .interview-text__title { width: 220px; font-size: 18px; text-align: left; line-height: normal; margin-bottom: 12px; }
  .interview-text__subtitle { width: 175px; font-size: 14px; margin-bottom: 39px; line-height: normal; }
  .interview-text__item { margin-bottom: 26px; }
  .interview-text__item:last-of-type { margin-bottom: 0; }
  .interview-text__counter { margin-right: 8px; text-align: center; font-size: 14px; }
  .interview-text__descr { width: 270px; font-size: 14px; }
  .interview-form__title { margin-bottom: 25px; width: 290px; font-size: 18px; line-height: 25.35px; }
  .interview-form__subtitle { width: 225px; font-size: 14px; line-height: normal; margin-bottom: 30px; }
  .interview-form__input { width: 275px; margin-bottom: 8px; padding: 20px 23px; }
  .interview-form__input:last-of-type { margin-bottom: 8px; }
  .interview-form__button { margin-bottom: 20px; font-size: 14px; line-height: 18px; padding: 30px 61px; border-radius: 10px; }
  .interview-form__subtext { width: 135px; font-size: 14px; line-height: 24px; } }

.map { width: 50%; }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer-block { margin: auto; max-width: 320px; padding-top: 100px; }

.footer-block__title { width: 310px; font-size: 24px; line-height: 33px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; margin-bottom: 100px; }

.footer-block__wrap { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 39px; }

.footer-block__icon-wrap { vertical-align: super; margin-right: 25px; }

.footer-block__text { vertical-align: super; font-size: 16px; line-height: 26px; font-family: 'Museo Sans Cyrl 700', sans-serif; font-weight: 700; }

@media (max-width: 768px) { .map { width: 100%; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; }
  .footer { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .footer-block { padding-bottom: 64px; }
  .footer-block__title { line-height: normal; font-size: 18px; margin-bottom: 39px; }
  .footer-block__text { font-size: 16px; } }

.invalid { border: 1px solid red; }

#username-error { border: none; }

#email-error { border: none; }

#phone-error { border: none; }
/*# sourceMappingURL=style.css.map */