@media (max-width: 768px)
    .hero
        padding: 40px 0
        &-block
            flex-direction: column
        &-text
            padding: 0
            &__title
                margin-top: 0
                line-height: normal
                margin-bottom: 11px
                font-size: 24px
            &__subtitle
                margin-bottom: 30px
                font-size: 16px
        &-list
            &__item
                margin-bottom: 20px
            &__text
                line-height: normal
                font-size: 12px
            &__img
                margin-right: 15px
        &-img
            margin-top: 15px
            padding-left: 0

            